@* vote Template File *@
@(candidates: Seq[Candidate])

@import views.html.buttons._
@import views.html.panels._




@main("CachureK Vote Page") {
	
	<script>
		var id = -1;
		$(window).load(function(){
			var current = 0;
			var first = 0;
			$(".imageSelectPanel").each(function(i, obj) {
				if(first==0){
					$(obj).addClass("bordered");
					id = $(obj).find('input[name=myIdValue]:first').val(); 
					$(obj).removeClass("noSelected");
					first = 1;
					current = $(obj);
				}
				$(obj).click(function() {
					if(current!=0){
						if(current.hasClass("bordered")){
							current.removeClass("bordered");
							current.addClass("noSelected");
							id = $(obj).find('input[name=myIdValue]:first').val(); 
						}
					}
					$(this).addClass("bordered");
					id = $(obj).find('input[name=myIdValue]:first').val(); 
					$(this).removeClass("noSelected");
					current = $(this);
				});
			});
			$(".horizontalScroll").mCustomScrollbar({
			    horizontalScroll:true,
			    theme:"dark",
				scrollInertia: 500
			});
		});

		function myVoteFunction(){
			var url = "/candidates/vote/" + id;  
			alert("yeee");
			alert(url);  
			$(location).attr('href',url);
		}
		
	</script>
	
	<style media="screen" type="text/css">

		.bordered {
		    border: 3px solid green;
		}
		
		.noSelected:HOVER {
			border: 1px solid blue;
		}
	
	</style>
	@marginPanel(margin_top = 15, margin_bottom = 30, margin_left = 15, margin_right = 15){
		
		<button onclick="myVoteFunction()" class="download button expand">Vote For Selected Candidate</button>
		
		@horizontalPanel{
			@for((candidate,index) <- candidates.zipWithIndex){
				<div class="imageSelectPanel noSelected" style="display:inline-block; margin:10px;">
					<input type="hidden" name="myIdValue" value="@candidate.id">
					@verticalPanel{
						@marginPanel(10,10,10,10){
							@candidate.name	
						}
						@marginPanel(10,10,10,10){
							@imagePanel(source = candidate.imagePath)	
						}
						@marginPanel(10,10,10,10){
							@imageFlagPanel(source = candidate.imageFlagPath)	
						}
						@marginPanel(10,10,10,10){
							@candidate.group	
						}
					}
				</div>
			}	
		}
		
	}   

}

